@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #141414; /*negro*/
  --secondary: #f5f3f5; /*blanco*/
  --accent: #d7263d; /*rojo*/
  --neutral: #abacad; /*gris*/
}

body {
  color: ;
  background: ;
  font-family: var(--font-fira-code);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
