@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate: #4d5c60;
  --charcoal: #383838;
  --amythest: #525266;
  --mist: #d1e0de;
  --keylime: #eef4ce;
}

body {
  background:var(--charcoal);
  font-family: var(--font-fira-code);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
